.content {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
  padding-top: 75px;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: top;
  width: 40%;
  text-align: center;
}