<html>
<head>
    <title>MHS Updates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="content">
        {% if session['logged_in'] %}
        {% set posts = list(posts.val.values()) %}
        <!--Shows the latest 50 posts only-->
        {% for post in posts[:51] %}
        {% set post_id = post["id"] %}
        {% set source_split = post['source'].split('.') %}
        {% if prefs.integrations.get(post['source']).val %}
        <div class="post" onclick="window.location.href = '/post/{{ post_id }}/'">
            <div class="meta">
                    <img src="/static/img/logos/{{ post['source'].replace('.', '/') }}.png" title="{{ integrations.inputs.get(source_split[0]).get(source_split[1]).title.val }}">
                    <h4>{{ post['title'] }}</h4>
                    <p>{{ post['datetime'].strftime('%b %d, %Y') }}</p>
            </div>
            <div class="message">
                <p>{{ post['content'] }}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="info">
            <h1>MHS Updates</h1>
            <h2>A student-maintained platform for getting the latest MHS news.</h2>
            <a href="/auth" class="gs-btn">Get started</a>
            <div class="oss">
                <h3>MHS Updates is free and open source. Learn more <a href="/oss">here.</a></h3>
            </div>
        </div>
        {% endif %}
    </div>
    {% include 'footer.html' %}
</body>
</html>