<html>
<head>
    <title>OSS | MHS Updates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oss.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="content">
        <div class="info">
            <h1>MHS updates is free!</h1>
            <h2>In both senses of the word</h2>
            <p>MHS updates is free and open-source software. That means that it is free to use, modify, inspect, and run it. Open-source software protects your privacy by letting you view the source code so that you can know exactly what it's doing. Don't just take my word for it, check out the project on <a href="https://gitlab.com/jvadair/mhs-updates">GitLab.</a></p>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>